@import "components/toolbar";
@import "typography";
@import "animation";

@import "pages/main";
@import "pages/splash";
@import "pages/compute";
@import "pages/vizualize";


.ng-scope {
  height: 100%;
}

.md-dialog-container {
  color: black;
  -webkit-animation: animation 865ms linear both;
  animation: animation 865ms linear both;
}

.md-button {
  font-weight: 700;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}



/* Utils */

.content-wrapper {
  position: relative;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
