<div layout="column" class="main-view">
  <md-toolbar layout="row">
    <h1>Hi {{user.display_name}}</h1>
  </md-toolbar>


  <div layout="column" class="swosh" layout-align="center center" flex="40">
    <h2>Enter the Spotify Id of your person you want to challenge</h2>
    <form name="userIdForm">
      <div layout"column">
        <md-input-container class="md-accent" md-is-error="invalidUser" ng-click="userId=''; invalidUser=false;">
          <label>User Id</label>
          <input ng-model="userId" >
            <div ng-messages="userForm.bio.$error" ng-show="invalidUser">
              <div ng-message="invalidUser">User Id is non existing</div>
           </div>
        </md-input-container>
      </div>
    </form>

    <md-button class="md-raised md-primary" ng-click="checkUserId(userId)">Let's do it!</md-button>
  </div>

  <div layout="column" layout-align="end center" flex="50">
    <md-button class="md-raised md-primary" ng-click="logout()">logout</md-button>
  </div>

</div>

