<div layout="column" class="vizualize-view">
  <div id="ready" layout="column" class="swosh" layout-align="center center" flex="80">
    <h1>Are you Ready?</h1>
    <h2> {{user.display_name || user.id}} vs. {{challenger.display_name || challenger.id}}</h2>

  </div>

  <div id="hipster" layout="row" class="{{hipsterClass}}-won" flex="20">
    <div layout="row" flex="50" class="user">
      <div flex="{{challengerHipsterPercentage}}" class="rest">
        <md-tooltip md-visible="showTooltips">
          asd
        </md-tooltip>
      </div>
      <div flex="{{userHipsterPercentage}}" class=" won">
        <md-tooltip md-visible="showTooltips">
          asd
        </md-tooltip>
      </div>
    </div>
    <div layout="row" flex="50" class="challenger">
      <div flex="{{challengerHipsterPercentage}}" class="won"></div>
      <div flex="{{userHipsterPercentage}}" class="rest"></div>
    </div>
  </div>
  <div id="hipster" layout="column" class="swosh" layout-align="start center" flex="20"></div>
  <div id="hipster" layout="column" class="swosh" layout-align="start center" flex="60">
    <h1>{{wonHipsterName}} is the The Hipster</h1>
    <h2>"a person who follows the latest trends and fashions, especially those regarded as being outside the cultural mainstream."</h2>

    <h3>{{wonHipsterName}} had the average of {{wonHipster.popularity}} and beat {{lostHipsterName}} who had an average of {{lostHipster.popularity}}.</h3>
  </div>

  <div id="superstar" layout="row" class="swosh {{superstarClass}}-won" flex="20">
    <div layout="row" flex="50" class="user">
      <div flex="{{challengerSuperstarPercentage}}" class="rest"></div>
      <div flex="{{userSuperstarPercentage}}" class=" won"></div>
    </div>
    <div layout="row" flex="50" class="challenger">
      <div flex="{{challengerSuperstarPercentage}}" class="won"></div>
      <div flex="{{userSuperstarPercentage}}" class="rest"></div>
    </div>
  </div>
  <div id="superstar" layout="column" class="swosh" layout-align="start center" flex="20"></div>
  <div id="superstar" layout="column" class="swosh" layout-align="start center" flex="60">
    <h1>{{wonSuperstarName}} is the The Superstar</h1>
    <h2></h2>

    <h3>{{wonSuperstarName}} had {{wonSuperstar.followers.total - lostSuperstar.followers.total}} more followers than {{lostSuperstarName}} and </h3>
  </div>

  <div id="giver" layout="row" class="swosh {{giverClass}}-won" flex="20">
    <div layout="row" flex="50" class="user">
      <div flex="{{challengerGiverPercentage}}" class="rest"></div>
      <div flex="{{userGiverPercentage}}" class=" won"></div>
    </div>
    <div layout="row" flex="50" class="challenger">
      <div flex="{{challengerGiverPercentage}}" class="won"></div>
      <div flex="{{userGiverPercentage}}" class="rest"></div>
    </div>
  </div>
  <div id="giver" layout="column" class="swosh" layout-align="start center" flex="20"></div>
  <div id="giver" layout="column" class="swosh" layout-align="start center" flex="60">
    <h1>{{wonGiverName}} is the The Giver</h1>
    <h2></h2>

    <h3>{{wonGiverName}} have {{wonGiver.totalPublics - lostGiver.totalPublics}} more public playlists than {{lostGiverName}} and could be considered a genorous person!</h3>
  </div>


  <div id="collaborator" layout="row" class="swosh {{collaboratorClass}}-won" flex="20">
    <div layout="row" flex="50" class="user">
      <div flex="{{challengerCollaboratorPercentage}}" class="rest"></div>
      <div flex="{{userCollaboratorPercentage}}" class=" won"></div>
    </div>
    <div layout="row" flex="50" class="challenger">
      <div flex="{{challengerCollaboratorPercentage}}" class="won"></div>
      <div flex="{{userCollaboratorPercentage}}" class="rest"></div>
    </div>
  </div>
  <div id="collaborator" layout="column" class="swosh" layout-align="start center" flex="20"></div>
  <div id="collaborator" layout="column" class="swosh" layout-align="start center" flex="60">
    <h1>{{wonCollaboratorName}} is the The Collaborator</h1>
    <h2></h2>

    <h3>{{wonCollaboratorName}} have {{wonCollaborator.totalSongs - lostCollaborator.totalSongs}} more Collaborative playlists {{lostCollaboratorName}} and could be considered a co-working person!</h3>
  </div>

  <div id="hoarder" layout="row" class="swosh {{hoarderClass}}-won" flex="20">
    <div layout="row" flex="50" class="user">
      <div flex="{{challengerHoarderPercentage}}" class="rest"></div>
      <div flex="{{userHoarderPercentage}}" class=" won"></div>
    </div>
    <div layout="row" flex="50" class="challenger">
      <div flex="{{challengerHoarderPercentage}}" class="won"></div>
      <div flex="{{userHoarderPercentage}}" class="rest"></div>
    </div>
  </div>
  <div id="hoarder" layout="column" class="swosh" layout-align="start center" flex="20"></div>
  <div id="hoarder" layout="column" class="swosh" layout-align="start center" flex="60">
    <h1>{{wonHoarderName}} is the The Hoarder</h1>
    <h2></h2>

    <h3>{{wonHoarderName}} have collected {{wonHoarder.totalSongs}} songs over the years..</h3>
  </div>

  <div id="share" layout="column" class="swosh" layout-align="center center" flex="40">
    <h1>Want to do it again?</h1>
    <md-button class="md-raised md-primary" ng-click="again()">Do it again with another user</md-button>
  </div>
</div>