@mixin graph($userColor, $challengerColor, $leftBarColor, $rightBarColor) {
    background: linear-gradient(to right, $userColor 0%, $userColor 49.5%, $challengerColor 50%, $challengerColor 100%);

    .left-bar {
        background: $leftBarColor;
      }

    .right-bar {
      background: $rightBarColor;
    }
}





.vizualize-view {
  .md-primary {
    padding: 10px 65px;
  }

  h1,h2, h3,h4 {
    text-align: center;
  }

  img {
    border-radius: 100px;
    width: 25vw;
    max-width: 200px;
  }
  .transparent-bg {
    background: black !important;
  }

  .ready{
    background-image: url("../images/splash.jpg");
    background-size: cover;
  }

  .images {
    background: black;
    div {
      text-align: center;
    }

    img {
      border-radius: 100px;
      width: 25vw;
      max-width: 200px;
    }

  }

  .user .rest{
    background: transparent !important;
  }
  .challenger .rest{
    background: transparent;
  }

  .hipster {
    $userColor : rgb(172, 75, 149);
    $challengerColor : rgb(165, 60, 140);
    $leftBarColor : rgb(132, 19, 105);
    $rightBarColor : rgb(110, 16, 88);

    @include graph($userColor, $challengerColor, $leftBarColor, $rightBarColor);
  }

  .superstar {
    $userColor : rgb(250, 108, 94);
    $challengerColor : rgb(250, 96, 80);
    $leftBarColor : rgb(212, 54, 38);
    $rightBarColor : rgb(174, 45, 31);

    @include graph($userColor, $challengerColor, $leftBarColor, $rightBarColor);
  }

  .giver {
    $userColor : rgb(61, 177, 165);
    $challengerColor : rgb(45, 170, 158);
    $leftBarColor : rgb(2, 137, 124);
    $rightBarColor : rgb(2, 122, 110);

    @include graph($userColor, $challengerColor, $leftBarColor, $rightBarColor);
  }

  .collaborator {
    $userColor : rgb(255, 161, 59);
    $challengerColor : rgb(255, 154, 43);
    $leftBarColor : rgb(242, 126, 0);
    $rightBarColor : rgb(217, 113, 0);

    @include graph($userColor, $challengerColor, $leftBarColor, $rightBarColor);
  }

  .hoarder {
    $userColor : rgb(98, 210, 89);
    $challengerColor : rgb(85, 206, 75);
    $leftBarColor : rgb(46, 176, 350);
    $rightBarColor : rgb(41, 157, 31);

    @include graph($userColor, $challengerColor, $leftBarColor, $rightBarColor);
  }


  .trendsetter {
    color: white;
    $userColor : rgb(225, 81, 134);
    $challengerColor : rgb(223, 67, 124);
    $leftBarColor : rgb(184, 25, 83);
    $rightBarColor : rgb(151, 20, 68);

    @include graph($userColor, $challengerColor, $leftBarColor, $rightBarColor);
  }


  .copycat {
    $userColor : rgb(59, 158, 220);
    $challengerColor : rgb(43, 150, 217);
    $leftBarColor : rgb(0, 116, 188);
    $rightBarColor : rgb(0, 97, 157);

    @include graph($userColor, $challengerColor, $leftBarColor, $rightBarColor);

  }
  #world {
    z-index: 1;
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: inline;
  }

  .summary {
    background: black;

    &.user-won .challenger .right-bar {
      background: transparent !important;
    }
    &.challenger-won .user .left-bar {
      background: transparent !important;
    }
  }

  .share {
    background: black;
  }
}


